<!-- Background Video -->
<div class="container__video">
    <video autoplay muted loop playsinline class="video" src="https://media.rawg.io/media/stories/92d/92d070309b4ad98aa48ec6f15eb44259.mp4" ></video>
    <div class="video-overlay"></div>
</div>
<!-- Row Populares -->
<div class="container__cardlists" id="container__cardlists--populares">
    <h2 class="title" id="title-populares">Populares</h2>
    <div class="container-fluid card-list d-flex flex-column flex-md-row justify-content-md-center align-content-md-center p-0">
        <div class="card card-item card-item--populares card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
        <div class="card card-item card-item--populares card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column ">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
        <div class="card card-item card-item--populares card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column ">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
        <div class="card card-item card-item--populares card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column ">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
    </div>
</div>
<!-- Row Lanzamientos -->
<div class="container__cardlists" id="container__cardlists--lanzamientos">
    <h2 class="title" id="title-lanzamientos">Lanzamientos</h2>
    <div class="container-fluid card-list d-flex flex-column flex-md-row justify-content-md-center align-content-md-center p-0">
        <div class="card card-item card-item--lanzamientos card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column ">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
        <div class="card card-item card-item--lanzamientos card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column ">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
        <div class="card card-item card-item--lanzamientos card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column ">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
        <div class="card card-item card-item--lanzamientos card-background">
            <img class="card-img" src="" alt="">
            <div class="card-gradient"></div>
            <div class="card-img-overlay d-flex align-items-start flex-column ">
                <h2 class="card-title titulo mt-auto "></h2>
            </div>
        </div>
    </div>
</div>
